body {
  height: 100vh;
  background: rgb(52, 51, 56);
}

.link{
  color: black;
  background: #402097;
  width: 60px;
  padding: 5px;
  margin: 5px;
  top: 200px;
  position: relative;
}

.App{
  display: flex;
  justify-content: center;
  text-align: center;
}

.text-contact{
  font-size: 20px;
  font-weight: 600;
}